---
import Base from "../layouts/Base.astro";
import SplineHeroReact from "../components/SplineHeroReact.tsx";
import ProjectGrid from "../components/ProjectGrid.astro";
---

<Base title="Astro">
  <main>
    <SplineHeroReact client:load />
    <ProjectGrid />
  </main>
</Base>
