.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.item {
  display: flex;
  flex-direction: column;
}

.nextBtn {
  justify-content: flex-end;
}

.prevBtn,
.nextBtn {
  color: var(--color-primary);
}

.caption {
  font-size: 0.875rem;
  line-height: 1.2;
  color: var(--color-grey);
}

@media (max-width: 640px) {
  .section {
    gap: 24px;
  }
  .item {
    align-items: stretch;
  }
}
